# Pastas e arquivos do Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Pastas desnecessárias
.github/
.bin/
.obj/
.config/

# Build e artefatos
bin/
obj/
artifacts/

# Resultados de testes
[Tt]est[Rr]esult*/

# Configurações específicas de ferramentas de terceiros
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Node.js
node_modules/

# Arquivos temporários e logs
*.tmp
*.log
*.cache
